* {
	pointer-events: none;
}
.vipgrid {
	height: 100%;
	display: flex;
	flex-direction: row;
}
.vipcol {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.vipcoloffset {
	height: 100%;
	display: flex;
	flex-direction: column;
}
.vipcells {
	height: 100%;
}
.vipmonthhdr {
	text-align: center;
	height: 2em;
	line-height: 2em;
	cursor: pointer;
	pointer-events: all;
}
.vipcell {
	pointer-events: all;
	box-sizing: border-box;
	padding-right: 1px;
	padding-bottom: 1px;
	background-clip: content-box;
	background-color: #eaeaea;
}
.vipcell.weekend {
	background-color: #d8d8d8;
}
.vipcellnum {
	float: left;
	width: 2em;
	height: 100%;
	text-align: center;
	line-height: inherit;
	padding: 1px;
	box-sizing: border-box;
	background-clip: content-box;
	cursor: pointer;
	pointer-events: all;
}
.vipcellnum.today {
	font-weight: bold;
	color: white;
	background-color: red;
}
.vipcellevent {
	float: right;
	width: calc(100% - 2em - 2px);
	line-height: inherit;
	height: 100%;
}
.vipevent {
	float: left;
	line-height: inherit;
	height: 100%;
}
.vipeventtext {
	float: left;
	line-height: inherit;
	height: 100%;
	box-sizing: border-box;
	padding: 1px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.vipeventmarker {
	float: left;
	height: 100%;
	padding-top: 2px;
	padding-bottom: 2px;
	box-sizing: border-box;
	background-clip: content-box;
}
