.vipgrid {
	--cellheight: 16px;
	height: 100%;
	pointer-events: none;
	display: flex;
	flex-direction: row;
}
.vipcol {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.vipmonthhdr {
	text-align: center;
	height: var(--cellheight);
	line-height: var(--cellheight);
	cursor: pointer;
	pointer-events: all;
}
.vipcoloffset {
	--offsetday: 0;
	margin-top: calc(var(--cellheight) * var(--offsetday));
	height: 100%;
	position: relative;
}
.vipcells {
	width: 100%;
	position: absolute;
}
.vipsel {
	width: 100%;
	position: absolute;
	background-color: rgba(255,255,127,0.6);
	z-index: 10;
}
.vipseltip {
	width: 100%;
	position: absolute;
	font-size: 0.8em;
	text-align: center;
	z-index: 10;
}
.vipind {
	width: 1.8em;
	position: absolute;
	background-color: rgba(0,0,0,0.1);
}
.vipcell {
	height: var(--cellheight);
	line-height: calc(var(--cellheight) - 2px);
	pointer-events: all;
	box-sizing: border-box;
	padding-right: 1px;
	padding-bottom: 1px;
	background-clip: content-box;
	background-color: #eaeaea;
}
.vipcell.weekend {
	background-color: #d8d8d8;
}
.vipcellnum {
	float: left;
	width: 1.8em;
	height: 100%;
	text-align: center;
	line-height: inherit;
	padding: 1px;
	box-sizing: border-box;
	background-clip: content-box;
	cursor: pointer;
	pointer-events: all;
}
.vipcellnum.today {
	font-weight: bold;
	color: white;
	background-color: red;
}
.vipcellevent {
	float: right;
	width: calc(100% - 2em - 2px);
	line-height: inherit;
	height: 100%;
}
.vipevent {
	float: left;
	line-height: inherit;
	height: 100%;
}
.vipeventtext {
	float: left;
	line-height: inherit;
	height: 100%;
	box-sizing: border-box;
	padding: 1px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.vipeventmarker {
	float: left;
	height: 100%;
	padding-top: 2px;
	padding-bottom: 2px;
	box-sizing: border-box;
	background-clip: content-box;
}
